 Styles for the entire form container 
 .auth-container {
  background-color: #f0f0f0;
  padding: 2.0em;
  padding-top: 0 !important;
  border-radius: 7px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  width: 100%;
  
}
  .auth-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color:rgb(31, 151, 105);
;  }
  
  .auth-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    place-content: center;
    text-align: center;
  }
  
  .auth-container input {
    margin-bottom: 10px;
    padding: 13px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fffefe;
    color:black;
    width:100%;
  }
  .modal button,
  .auth-container button {
    padding: 10px 20px;
    background-color: #25b16b;
    color:#ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width:100%;
  }
  .modal button:hover,
  .auth-container button:hover {
    background-color: #0c6139;
    color:white;
  }*/
  
  .auth-container .p{
    text-align: center;
    margin-top: 10px;
 
    color: green;
  }
  
  .auth-container .p  span {
    color: #007bff;
    cursor: pointer;
    font-size: 1.0rem;
  } 
  .auth-container .p {
    color:black;
  }
  /*.modal-background{
    position: relative;
  }
  .modal-content button {
    position: absolute;
    top: 10px;
     right: 10px;
   
        background: transparent;
     border: none;
     font-size: 1.5rem;
     cursor: pointer;
     padding:10px 12px;
     color:#807e7e;
  }
   .auth-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2.0rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width:30%;
    margin:auto;
  }
  .auth-container .close-button {
    position: absolute;
   top: 10px;
    right: 10px;
  
       background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    padding:10px 12px;
    color:#807e7e;
  }
  .close-button:hover{
background:#ddd;
  }*/
  .modal-background {
    position: fixed;
    /*top: 100px;
    left: 200px;*/
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    align-content: center;
    align-self: center;
    z-index: 10000; 
    
    /*padding-left: -1050px;*/
     
  }
  
  .modal-content {
    flex-grow: 15;
    background-color: white;
    /*padding: 150px;*/
    border-radius: 7px;
    margin-right: 10px;
    margin-top: 35px;
    position: relative; 
    width: 35vw !important;
    height: 70vh;
    max-width: 600px;
    max-height: 600px;
  }
  /*.modal-content content{
    padding: 500px;
    width:100vw;
  }*/
  .modal-content .auth-container{
    padding-top: 50px;
    padding-left: 3.0em;
    padding-right:3.0em;
    padding-bottom: 0;
    margin-right: 50px;
    margin-top: 40px;
    margin-left: 80px;
    padding: 1.0em;
    width:30vw;
    align-items: center;
  }
  
  .modal-content span {
    position: absolute;
    background:none;
    border: none;
    font-size: 2.5rem;
    cursor: pointer;
    padding:0;
    color:#ddd;
    right:30px;
    top:30px;
  }

  
  