.modal {
    width: 250px;
    height:350px;
    position: absolute;
    top: 200px;
    right: 0;
    background: #e2e1e1;
  }
  
  .modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    position: absolute;
    top:50px;
    /*bottom: 30px;
    right: 40px;
    height: 60%;*/
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .close-button {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 40px;
    cursor: pointer;
    color: black;
  }
  
  .availability-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .available, .occupied, .not-working, .no-info {
    padding: 10px;
    border-radius: 5px;
    color: #e2e1e1;
  }

  
  .available {
    color: #e2e1e1;
  }
  
  
  .flexDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  .flexDiv h2 {
    color: rgb(124, 124, 124);
    margin: 0;
    padding: 0;
    top:10px;
  }
  /*.logos{
    display:flex;
    justify-content: space-between;
    text-align: left;
  }*/
  .logos div{
    text-align: left;
  }
  /*.logos img{
    text-align: left;
    padding-left: 0px;
    margin-left: 0px;
  }*/
  .availability-info {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Add space between each item */
  }
  
  .logos {
    display: flex;
    align-items: center;
  }
  
  .logos img {
    width: 40px; /* Set a uniform width for all icons */
    height: 50px; /* Set a uniform height for all icons */
    margin-right: 10px; /* Space between the icon and the text */
  }
  
  .available, .occupied, .not-working, .no-info {
    font-size: 1rem;
    font-weight: bold;
  }
  
  
  