form h2{
    color: rgb(31, 192, 117);
}
form input{
    width: 100%;
    /* margin: auto; */
    background-color: white;
    color: #000000;
    /* text-align: center; */
    border: 1px solid black;
    margin-top: 30px;
}
.flex-div{
    display: flex;
    justify-content: center;
gap: 100px;
margin-top: 30px;
}
.Reservebtn {
    display: flex;
    justify-content: center;
    background-color: #ddd;
    color: black;
    margin-left: 95px;
    width: 30%;
    margin-top: 30px;
}
.Reservebtn:hover{
    background-color: gray;
    color: black;

}
.error{
    color: red;
}